<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-Mapper.dtd">
  <mapper namespace="NoticeMapper">
  	<delete id="deleteNotice">
  		DELETE FROM NOTICE_TBL
  		WHERE NOTICE_NO = #{noticeNo}
  	</delete>
  	<insert id="InsertNotice">
  		INSERT INTO NOTICE_TBL
  		VALUES(
  		SEQ_NOTICE_NO.NEXTVAL,
  		#{noticeSubject},
  		#{noticeContent},
  		#{noticeWriter},	
  		DEFAULT,
  		DEFAULT,
  		#{noticeFileName},
  		#{noticeFileRename},
  		#{noticeFilePath},
  		#{noticeFileLength}
  		)
  	</insert>
  	<update id="updateNotice">
  		UPDATE NOTICE_TBL
  		SET NOTICE_SUBJECT = #{noticeSubject},
  		NOTICE_CONTENT = #{noticeContent},
  		UPDATE_DATE = DEFAULT,
  		NOTICE_FILENAME = #{noticeFileName},
  		NOTICE_FILERENAME = #{noticeFileRename},
  		NOTICE_FILEPATH = #{noticeFilePath},
  		NOTICE_FILELENGTH = #{noticeFileLength}
  		WHERE NOTICE_NO = #{noticeNo}
  	</update>
  	<select id="selectNoticeByNo" resultMap="noticeResultMap">
  		SELECT * FROM NOTICE_TBL WHERE NOTICE_NO = #{noticeNo}
  	</select>
  	<select id="selectTotalCount" resultType="_int">
  		SELECT COUNT(*) FROM NOTICE_TBL
  	</select>
  	<select id="selectNoticeList" resultMap="noticeResultMap">
  		SELECT * FROM NOTICE_TBL ORDER BY NOTICE_NO DESC
  	</select>
  	<resultMap type="Notice" id="noticeResultMap">
  		<id property="noticeNo" 				column="NOTICE_NO"/>
  		<result property="noticeSubject" 		column="NOTICE_SUBJECT"/>
  		<result property="noticeContent" 		column="NOTICE_CONTENT"/>
  		<result property="noticeWriter" 		column="NOTICE_WRITER"/>
  		<result property="noticeDate" 			column="NOTICE_DATE"/>
  		<result property="updateDate" 			column="UPDATE_DATE"/>
  		<result property="noticeFileName"	 	column="NOTICE_FILENAME"/>
  		<result property="noticeFileRename"	 	column="NOTICE_FILERENAME"/>
  		<result property="noticeFilePath" 		column="NOTICE_FILEPATH"/>
  		<result property="noticeFileLength" 	column="NOTICE_FILELENGTH"/>
  	</resultMap>
  </mapper>